#### LEAP YEAR  ####

In [1]:
N=int(input("enter the year:"))
if N%4==0:
     print("LEAP YEAR")
else:
    print("NOT A LEAP YEAR")

enter the year:2004
LEAP YEAR

#### PRINT THE GREATEST NUMBER####

In [2]:
a=int(input("enter the first no:"))
b=int(input("enter the second no:"))
if a>b:
     print("largest:",a)
else:
    print("largest:",b)

enter the first no:5
enter the second no:6
largest: 6

#### WEEKDAYS####

In [5]:
a=int(input("enter the first no:"))
if a==1:
 print("monday")
elif a==2:
 print("tuesday") 
elif a==3:
 print("wenesday") 
elif a==4:
 print("thursday") 
elif a==5:
 print("friday") 
elif a==6:
 print("saturday") 
else:
 print("sunday")

enter the first no:5
friday

#### GRADE OF STUDENTS####

In [6]:
MARK=int(input("enter the first no:"))
if MARK>=90 :
 print("A")
elif MARK>=75 and MARK<90 :
 print("B") 
elif MARK>=65 and MARK<75:
  print("C") 
elif MARK>=50 and MARK<65:
  print("D") 
else:
 print("FAIL")

enter the first no:88
B

#### ASCENDING ORDER####

In [8]:
a=int(input("enter the first no:"))
b=int(input("enter the second no:"))
c=int(input("enter the third no:"))
if a<b and b<c and a<c :
 print("order:",a,b,c)
elif b<a and b<c and a<c :
 print("order:",b,a,c) 
elif c<a and c<b and a<c:
 print("order:",c,a,b) 
elif a<b and a<b and c<b :
 print("order:",a,c,b) 
else:
 print("order:",c,b,a)

enter the first no:5
enter the second no:2
enter the third no:6
order: 2 5 6

#### CALCULATOR####

In [9]:
a=int(input("enter the first no:"))
b=int(input("enter the second no:"))
c=int(input("enter the choice:"))
if c==1:
    c=a+b     
    print(c)
elif c==2:
    c=a-b     
    print(c) 
elif c==3:
    c=a*b     
    print(c)
else:
    c=a/b
    print(c)

enter the first no:6
enter the second no:7
enter the choice:3
42

#### MONTH####

In [10]:
a=int(input("enter the  no:"))
if a==1:
     print("january")
elif a==2:
     print("February") 
elif a==3:
  print("March") 
elif a==4:
  print("April") 
elif a==5:
  print("May") 
elif a==6:
  print("june") 
elif a==7:
  print("july") 
elif a==8:
  print("august")
elif a==9:
  print("september") 
elif a==10:
  print("october") 
elif a==11:
  print("november") 
else:
    print("December")

enter the  no:7
july

#### SMALLEST####

In [12]:
a=int(input("enter the first no:"))
b=int(input("enter the second no:"))
if a>b:
 print("smallest:",b)
else:
 print("smallest:",a)

enter the first no:8
enter the second no:5
smallest: 5

#### NUMBERS ARE EQUAL####

In [13]:
a=int(input("enter the number:"))
b=int(input("enter the number:"))
if a==b:
     print("Both are equal")
else:
    print("Both are not equal")

enter the number:5
enter the number:7
Both are not equal

#### ELIGIBLE TO VOTE OR NOT####

In [16]:
n=int(input("enter the age:"))
if n>=18:
 print("Eligible")
else:
 print("Not Eligible")

enter the age:24
Eligible

#### STUDENT PASS OR FAIL####

In [18]:
n=int(input("enter the marks of the student:"))
if n>=40:
 print("Passed")
else:
 print("Failed")

enter the marks of the student:75
Passed

#### Bonus####

In [20]:
n=int(input("enter the salary of the employee:"))
if n>10000:
 sal=n+.1*n
 print("salary:",sal)
else:
 sal=n
 print("salary:",sal)

enter the salary of the employee:15000
salary: 16500.0