#### PRINT  n NUMBERS####

In [1]:
n=int(input("enter the value of n:"))
i=1
while i<=n:
 print(i)
 i=i+1

enter the value of n:5
1
2
3
4
5

#### SUM OF n NUMBERS####

In [2]:
n=int(input("enter the value of n:"))
i=1
sum=0
while i<=n:
  sum=sum+i
  i=i+1
print(sum)

enter the value of n:20
210

#### TABLE OF A NUMBER####

In [3]:
n=int(input("enter the value of n:"))
i=1
while i<=10:
 c=n*i
 print(c)
 i=i+1

enter the value of n:7
7
14
21
28
35
42
49
56
63
70

#### FACTORIAL####

In [4]:
n= int(input("enter a number: "))
fac=1
i =1
while i<=n:
 fac=fac*i
 i=i+1
print("factorial:",fac)

enter a number: 5
factorial: 120

#### PRINT EVEN NUMBERS FROM 1 TO 100####

In [9]:
n=1
while n<=100:
 if(n%2==0):
  print(n)
 n=n+1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100