#### PRINT TABLE OF A NUMBER####

In [1]:
n=int(input("enter the value of n:"))
i=0
for i in range(1,11):
    c=n*i
    print(c)
    i=i+1

enter the value of n:5
5
10
15
20
25
30
35
40
45
50

#### REVERSE OF A NUMBER####

In [2]:
n=int(input("enter the value of n:"))
r=0
while n>0:
    rem=n%10
    r=(r*10)+rem
    n=n//10
print("reverse",r)

enter the value of n:25
reverse 52

#### SUM OF REVERSE####

In [3]:
n=int(input("enter the value of n:"))
temp=n
r=0
sum=0
while n>0:
    rem=n%10
    r=(r*10)+rem
    n=n//10
    sum =sum+(temp%10)
    temp=temp//10
print("reverse",r)
print("sum",sum)

enter the value of n:153
reverse 351
sum 9

#### SUM OF A NUMBER AND ITS REVERSE####

In [4]:
n=int(input("enter the value of n:"))
b=n
r=0
s=0
while n>0:
    rem=n%10
    r=(r*10)+rem
    n=n//10
print("reverse",r)
sum=b+r
print("sum",sum)

enter the value of n:153
reverse 351
sum 504

#### FIBONACCI SERIES####

In [5]:
n=int(input("enter the value of n:"))
a=0
b=1
sum=0
count=1
while count<=n:
    print(sum)
    count=count+1
    a=b
    b=sum
    sum=a+b

enter the value of n:10
0
1
1
2
3
5
8
13
21
34

#### ARMSTRONG####

In [6]:
n=int(input("enter the value of n:"))
sum=0
temp=n
c=n
count=0
while c>0:
 count=count+1
 c=c//10

while temp>0:
      rem=temp%10
      sum=sum+(rem**count)
      temp=temp//10
if n==sum:
   print(n,"is an Armstrong number")
else:
   print(n,"is not an Armstrong number")

enter the value of n:153
153 is an Armstrong number

#### PALINDROME####

In [7]:
n=int(input("enter the value of n:"))
temp=n
r=0
while n>0:
    rem=n%10
    r=(r*10)+rem
    n=n//10
if temp==r:
   print( "palindrome")
else:
   print("Not a palindrome")

enter the value of n:33
palindrome